[submodule "lib/mockturtle"]
	path = third-party/mockturtle
	url = https://github.com/lsils/mockturtle.git
[submodule "qlut-benchmarks"]
	path = third-party/qlut-benchmarks
	url = https://github.com/Nozidoali/qlut-benchmarks.git
